/* zaw.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding-top: 30px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--header-bg-color);
  color: var(--header-text-color);
  text-align: center;
  padding: 20px;
  z-index: 1000; /* Set a high z-index to ensure the header is on top of other elements */
}

section {
    background-color: var(--section-bg-color);
    color: var(--section-text-color);
    text-align: center;
    padding: 20px;
}

#intro {
  padding: 70px 20px; /* Adjust the padding as needed */
}

#introimg {
  width: 30%; /* Adjust the percentage as needed */
  height: auto; /* Maintain aspect ratio */
}

@media screen and (max-width: 1000px) {
  #introimg {
    width: 60%; /* Adjust the percentage as needed */
    height: auto; /* Maintain aspect ratio */
  }
}

.red-text {
  color: red;
}

/* Adjust the styles for the about section */
#about {
  text-align: center; /* Center the heading */
  padding: 50px;
}

/* Adjust the styles for the about heading */
#about h2 {
  margin-bottom: 2px; /* Add space below the heading */
}

/* Adjust the styles for the about content */
.about-content {
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
}

/* Adjust the styles for the image */
.about-image {
  margin-right: 100px; /* Add space between image and text */
}

/* Adjust the size of the image */
.about-image img {
  width: 400px; /* Set the width to your desired size */
  height: auto; /* Maintain the aspect ratio */
}

/* Adjust the styles for the paragraph */
.about-text {
  text-align: left; /* Left-align the paragraph */
  padding-right: 20px;
}


/* Adjustments for mobile view */
@media screen and (max-width: 1200px) {
  .about-content {
    flex-direction: column;
  }

  .about-image {
    padding-left: 60px;
    margin-bottom: 20px;
  }

  .about-text {
    padding-right: 20px; /* Add padding to the right side */
  }
}

/* Adjust padding for the 'experience' section */
#experiences {
  padding: 60px 20px; /* Adjust the padding as needed */
}

/* Adjust padding for the 'education' section */
#education {
  padding: 60px 20px; /* Adjust the padding as needed */
}

/* Adjust padding for the 'download' section */
#download {
  padding: 60px; /* Adjust the padding as needed */
}

/* Adjust padding for the 'contact' section */
#contact {
  padding: 70px 20px; /* Adjust the padding as needed */
}

/* Adjust padding for the 'copyright' section */
#copyright {
  padding: 20px; /* Adjust the padding as needed */
  color: var(--section-text-color);
}

/* Adjust copyright text color for light theme */
body.light-theme #copyright {
  color: var(--text-light);
}

/* Adjust copyright text color for dark theme */
body.dark-theme #copyright {
  color: var(--text-dark);
}

.social-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--section-bg-color);
    padding: 20px;
}

.social-icons a:hover .icon {
    transform: scale(1.2);
}

.icon-link:hover {
    filter: brightness(1.2);
}

.github-icon img {
    transition: transform 0.3s ease;
}

.icon {
    transition: transform 0.3s ease;
}

.light-theme {
    --header-bg-color: #f5f5f5;
    --header-text-color: #333;
    --section-bg-color: #fff;
    --section-text-color: #555;
}

.dark-theme {
    --header-bg-color: #333;
    --header-text-color: #fff;
    --section-bg-color: #2c2c2c;
    --section-text-color: #eee;
}

.theme-switch-wrapper {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 20px;
    height: 30px;
    position: absolute;
    width: 60px;
    transition: background-color 0.3s;
}

.slider:before {
    content: '';
    position: absolute;
    height: 26px;
    width: 26px;
    background-color: #ccc;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: transform 0.3s;
}

input:checked + .slider {
    background-color: #2E2E2E;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.label-text {
  margin: 0 10px; /* Adjust the spacing between the label and the switch */
  color: var(--label-color); /* Use the appropriate label color */
}

/* skills  */

/* Add this style for the skills section */
#skills {
  text-align: center;
  padding: 50px;
}

/* Style each skill set */
#skills p {
  font-size: 18px;
  line-height: 1.6;
}

/* Create a 3x3 grid for skills sets */
#skills p {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

/* Add spacing and styling for individual skills */
#skills p span {
  display: block;
  margin: 15px;
  padding: 18px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}

body.light-theme #skills p span {
  background-color: #f0f0f0; /* Light mode */
  color: #333;
}

/* Hover effect to make skills bigger */
#skills p span:hover {
  transform: scale(1.1);
}

/* Adjust layout for smaller screens */
@media screen and (max-width: 768px) {
  #skills p {
    grid-template-columns: repeat(2, 1fr); /* Display skills in two columns */
  }
}

/* timeline */

:root {
  --background-light: #fff;
  --background-dark: #333;
  --text-light: #333;
  --text-dark: #fff;
}


/* Dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--background-dark);
    color: var(--text-dark);
  }
}

.timeline {
  position: relative;
  max-width: 800px;
  margin: 50px auto;
  overflow: hidden;
  padding: 50px;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 4px;
  background: #ccd639;      /*line color  defult var(--text-light) */
  transform: translateX(-50%);
  transition: background 0.3s;
}

.timeline-item {
  position: relative;
  max-width: 50%;
  margin-bottom: 50px;
  padding: 5px;
  clear: both;
  transition: transform 0.3s; /* Added transition for smooth hover effect */
}

.timeline-item:hover {
  transform: scale(1.05); /* Make the text box larger on hover */
}

.timeline-item::before {
  content: '';
  position: absolute;
  top: 0; /* Adjusted position to be above the text */
  left: 50%;
  width: 16px;
  height: 16px;
  background: #ccd639;      /*dot color  defult var(--text-light) */
  border-radius: 50%;
  transform: translateX(-50%);
  transition: transform 0.3s, background 0.3s;
}

.timeline-item:hover::before {
  transform: scale(1.5); /* Make the circle larger on hover */
}

.timeline-item:nth-child(even) {
  float: right;
}

.timeline-item:nth-child(even) .timeline-item::before {
  left: auto;
  right: -8px; /* Adjusted position for the circle on the right side */
  transform: translateX(50%); /* Move the circle to the right */
}

.timeline-item:nth-child(odd) {
  float: left;
}

.timeline-item:nth-child(odd) .timeline-item::before {
  left: -8px; /* Adjusted position for the circle on the left side */
  right: auto;
  transform: translateX(-50%); /* Move the circle to the left */
}

.timeline-item-content {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0);
  background: transparent; /* Set background to transparent */
  transition: background 0.3s; /* Added transition for smooth hover effect */
  text-align: center; /* Center the content */
}

.timeline-item:hover .timeline-item-content {
  background: transparent; /* Change the background on hover */
}

h3, p {
  margin: 0;
}

/*
.date {
  color: #888;
}

.timeline-item h3 {
  color: var(--text-light); /* Change to the color you prefer 
}  */

.timeline-item img {
  max-width: 100%; /* Ensure the image doesn't exceed the container width */
  border-radius: 10%; /* Add a border radius to make it circular */
  margin-bottom: 10px; /* Add some space between image and text */
}

.item1 img {
  height: 150px; /* Set the height of the image for item 1 */
}

.item2 img {
  height: 120px; /* Set the height of the image for item 2 */
}

.item3 img {
  height: 180px; /* Set the height of the image for item 3 */
}

.item4 img {
  height: 150px; /* Set the height of the image for item 4 */
}

.item5 img {
  height: 170px; /* Set the height of the image for item 5 */
}

/* Remove the green line from the timeline section on mobile web */
@media screen and (max-width: 768px) {
  .timeline::before {
    display: none; /* Hide the green line */
  }

  .timeline-item {
    max-width: 100%; /* Set the maximum width to 100% to occupy the full width */
  }

  .timeline-item:nth-child(even),
  .timeline-item:nth-child(odd) {
    float: none; /* Remove the floating behavior */
  }

  .timeline-item::before {
    display: none; /* Hide the dot */
  }
}


/* experience */

.uni-logo {
  width: 200px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 10px; /* Adjust margin as needed */
  border-radius: 10%;
}

.uni-logo-container {
  position: relative;
  display: inline-block;
}

.tooltip {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: -50%;
  transform: translate(-50%, -50%); /* Center the tooltip initially */
  transition: transform 0.3s ease-in-out; /* Add a smooth transition effect */
  background-color: #fff;
  color: #333; /* Set the font color to your desired color */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 200px; /* Adjust the width as needed */
  z-index: 1;
}

.uni-logo-container:hover .tooltip {
  visibility: visible;
  transform: translate(-100%, -50%); /* Slide the tooltip to the left on hover */
}

/* download resume */

#download a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}

#download a:hover {
  background-color: #555;
  transform: scale(1.05);
}

body.light-theme #download a {
  background-color: #e5e4e4; /* Light mode */
  color: #333;
}

/* copy rights */

#copyright {
  text-align: center;
  padding: 10px;
  color: var(--text-color);
  bottom: 0;
}

/* Navigation Bar Styles */
.navbar {
  display: flex;
  justify-content: flex-end; /* Align items to the right */
  background-color: var(--header-bg-color);
  padding: 0px 20px; /* Add padding to create some space */
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; /* Make the list items horizontal */
}

.navbar li {
  margin: 0 10px;
  transition: transform 0.3s; /* Add transition for smooth scaling */
}

.navbar a {
  text-decoration: none;
  color: var(--header-text-color);
  font-weight: bold;
}

/* Scale the navigation buttons on hover */
.navbar li:hover {
  transform: scale(1.1); /* Scale the button by 10% on hover */
}

/* Styling for the hamburger menu icon */
.hamburger-menu {
  display: none; /* Initially hide the hamburger menu */
  cursor: pointer;
}

.hamburger-menu .bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
  transition: 0.4s;
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
  .hamburger-menu {
    display: block; /* Display the hamburger menu on smaller screens */
  }
}

/* Styling for the X button */
.hamburger-menu.open .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.hamburger-menu.open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.open .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -5px);
}

/* Styling for the navigation menu */
#navbar {
  display: flex;
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
  .hamburger-menu {
    display: block; /* Display the hamburger menu on smaller screens */
    cursor: pointer;
    position: sticky; /* Position the hamburger menu button */
    top: 20px; /* Adjust the distance from the top as needed */
    right: 20px; /* Move the hamburger menu button 20px to the left */
    z-index: 1100; /* Set a higher z-index to ensure it's above other elements */
  }

  #navbar {
    display: flex;
    justify-content: center; /* Center the items horizontally */
    position: fixed;
    top: 65px; /* Adjust the distance from the top as needed */
    right: -250px; /* Initially hide the menu off-screen to the right */
    width: 250px;
    height: 100%;
    background-color: var(--section-bg-color);
    transition: right 0.5s ease; /* Add transition for smooth sliding effect */
  }

  /* Adjust navigation button color */
  #navbar a {
    color: var(--section-text-color); /* Change color based on theme */
  }
  
  #navbar.active {
    right: 0; /* Slide the menu to the left when active */
  }
  
  #navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Display the list items vertically */
  }
  
  .navbar li {
    margin: 10px 0; /* Adjust margin for spacing between items */
    text-align: center; /* Center the text within list items */
    width: 100%; /* Make list items take full width */
  }

  }
  
  #navbar.active {
    right: 0; /* Slide in the menu from the right when active */
  }

/* Adjust hamburger menu color */
.hamburger-menu .bar {
  background-color: var(--header-text-color); /* Change color based on theme */
}

/* Adjust X button color */
.hamburger-menu.open .bar:nth-child(1),
.hamburger-menu.open .bar:nth-child(2),
.hamburger-menu.open .bar:nth-child(3) {
  background-color: var(--header-text-color); /* Change color based on theme */
}

/* Adjust navigation button color */
#navbar a {
  color: var(--header-text-color); /* Change color based on theme */
}

#catImage {
  max-width: 100%;
  height: auto;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  /* Adjust the max-width for smaller screens */
  #catImage {
    max-width: 80%; /* Adjust the percentage as needed */
  }
}

/*--------------------------------------------*/
#projects {
  text-align: center;
  padding: 50px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.project-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-content {
  position: relative;
}

.project-item img {
  max-width: 150%;
  width: 500px;
  border-radius: 10px;
}

.github-link {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center; /* Center content horizontally */
  color: #fff;
  background-color: #333;
  padding: 10px 5px;
  width: auto; /* Allow the button to adjust its width based on content */
  text-decoration: none;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  display: inline-flex; /* Changed to inline-flex */
  align-items: center; /* Added to vertically center the logo */
  border: 1px solid #ccc; /* Add border for better visibility */
  min-width: 220px; /* Set a minimum width for the button */
}

.project-item .github-logo {
  width: 24px; /* Adjust the width of the logo */
  height: auto; /* Maintain aspect ratio */
  margin-right: 5px; /* Add margin between logo and text */
}

.github-link:hover {
  transform: translateX(-50%) scale(1.1); /* Scale up by 10% on hover */
}

body.light-theme .github-link {
  color: #333; /* Light mode */
  background-color: #f0f0f0;
}

.github-link:hover {
  background-color: #555;
}

/* Add this media query to adjust the layout for smaller screens */

@media screen and (max-width: 1750px) {
  .project-grid {
    grid-template-columns: repeat(2, 1fr); /* Change to two columns on smaller screens */
  }

  .project-item img {
    width: 100%; /* Adjust the width of the GIF images on mobile */
  }
}

@media screen and (max-width: 768px) {
  .project-grid {
    grid-template-columns: repeat(1, 1fr); /* Change to one column on even smaller screens */
  }
  .project-item img {
    width: 100%; /* Adjust the width of the GIF images on mobile */
  }
}

.outro {
  width: 300px;
  height: auto;
}